 body, h1, h2, h3, h4, h5, h6,
 p, blockquote, pre, hr,
 dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $copy-color;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: $spacing-unit;
  font-weight: $mid-font-weight;
  &.light, span {
    font-weight: $base-font-weight;
  }
  &.heavy, strong {
    font-weight: $heavy-font-weight;
  }
}

a {
  color: $link-color;
  &:active, &.active {
    text-decoration: underline;
    color: darken($link-color, 10%);

  }
  &:hover, &.hover {
    text-decoration: underline;
    color: lighten($link-color, 20%);

  }
}

p {
  margin-bottom: $spacing-unit;
}

hr {
  margin-bottom: $spacing-unit;
  border-top-color: lighten($copy-color, 30%);
  border-top-width: 2px;
}

label {
  font-weight: $mid-font-weight;
}
strong {
  font-weight: $mid-font-weight;
}

.subtle {
  color: lighten($copy-color, 30%);
  a {
    color: darken($link-color, 10%);
    &:active, &.active {
      text-decoration: underline;
      color: darken($link-color, 20%);
    }
    &:hover, &.hover, &.active:hover {
      text-decoration: underline;
      color: lighten($link-color, 20%);

    }
  }
}


