.btn-group {
  .btn-default {
    background: white;
    color: $copy-color;
    border: 1px solid darken($secondary-button-color-light, 20%);
    font-weight: $mid-font-weight;
  }
  .btn-secondary {
    border-width: 1px;
  }
  .btn:disabled {
    color: $copy-color;
    border: 1px solid darken($secondary-button-color-light, 30%);
  }
  .btn:first-of-type {
    border-right: 0;
  }
  .btn:last-of-type {
    border-left: 0;
  }
}

.checkbox-inline ul {
  list-style-position: inside;
}

.dropdown-menu {
  top: auto;
}

.form-group {
  &.has-focus input, input:focus {
    border: 2px solid $link-color;
  }
  &.has-warning {
    input {
      border: 2px solid $validation-color;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    span {
      background: $validation-color;
      color: white;
      margin-top: 0;
      padding: 2px 0px 2px 8px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}

